<mat-chip-list [multiple]="true">
  <ng-container *ngFor="let accessor of contactActivityAccessors" selected>
    <mat-chip
      #chip="matChip"
      [selected]="true"
      (click)="onChipSelected(accessor); chip.toggleSelected()"
    >
      {{ accessor.propertyName }}
    </mat-chip>
  </ng-container>
</mat-chip-list>
<ngx-charts-bar-vertical-stacked
  (window:resize)="onResize($event)"
  [view]="view"
  [scheme]="colorScheme"
  [results]="stackedBarChartData"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [xAxisTickFormatting]="formatDate"
  [yAxisTickFormatting]="formatNumber"
  [legendTitle]="title"
>
</ngx-charts-bar-vertical-stacked>
